In [1]:
import pandas as pd

Series

In [11]:
s = pd.Series([3, -5, 7, 4],  index=['a',  'b',  'c',  'd'])

DataFrame

In [15]:
data = {'Country': ['Belgium',  'India',  'Brazil'],

'Capital': ['Brussels',  'New Delhi',  'Brasilia'],

'Population': [11190846, 1303171035, 207847528]} 

df = pd.DataFrame(data,columns=['Country',  'Capital',  'Population'])

Asking For Help

In [ ]:
help(pd.Series.loc)

**I/O**

Read and Write to CSV

In [ ]:
pd.read_csv('file.csv', header=None, nrows=5)
df.to_csv('myDataFrame.csv')

Read multiple sheets from the same file

In [ ]:
xlsx = pd.ExcelFile('file.xls')
df = pd.read_excel(xlsx,  'Sheet1')

Read and Write to Excel

In [ ]:
pd.read_excel('file.xlsx')
df.to_excel('dir/myDataFrame.xlsx',  sheet_name='Sheet1')

Read and Write to SQL Query or Database Table

In [14]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///:memory:')
pd.read_sql(SELECT * FROM my_table;, engine)
pd.read_sql_table('my_table', engine)
pd.read_sql_query(SELECT * FROM my_table;', engine)
df.to_sql('myDf', engine)

SyntaxError: ignored

Selection

Getting

In [ ]:
s['b']
-5

Get subset of a DataFrame

In [ ]:
df[1:]
Country     Capital   Population
1  India    New Delhi 1303171035
2  Brazil   Brasilia  207847528

Selecting', Boolean Indexing and Setting

By Position

In [ ]:
df.iloc([0], [0])
'Belgium'
df.iat([0], [0])
'Belgium'

By Label

In [ ]:
df.loc([0],  ['Country'])
'Belgium'
df.at([0],  ['Country'])
'Belgium'

By Label/Position

In [ ]:
df.ix[2]
Country      Brazil
Capital    Brasilia
Population  207847528

In [ ]:
df.ix[:, 'Capital']
0     Brussels
1    New Delhi
2     Brasilia

In [ ]:
df.ix[1, 'Capital']
'New Delhi'

Boolean Indexing

In [ ]:
s[~(s > 1)]

In [ ]:
s[(s < -1) | (s > 2)]

In [ ]:
df[df['Population']>1200000000]

Setting

In [ ]:
s['a'] = 6

Dropping

In [ ]:
s.drop(['a',  'c'])

In [ ]:
df.drop('Country', axis=1)

Sort and Rank

In [ ]:
df.sort_index()

In [ ]:
df.sort_values(by='Country')

In [ ]:
df.rank()

Retrieving Series/DataFrame Information

Basic Information

In [ ]:
df.shape

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.info()

In [ ]:
df.count()

Summary

In [ ]:
df.sum()

In [ ]:
df.cumsum()

In [ ]:
df.min()/df.max()

In [ ]:
df.idxmin()/df.idxmax()

In [ ]:
df.describe()

In [ ]:
df.mean()

In [ ]:
df.median()

Applying Functions

In [ ]:
f = lambda x: x*2

In [ ]:
df.apply(f)

In [ ]:
df.applynap(f)

Internal Data Alignment

In [ ]:
s3 = pd.Series([7, -2, 3],  index=['a',  'c',  'd'])
s + s3
a     10.0
b     NaN
c     5.0
d     7.0

Arithmetic Operations with Fill Methods

In [ ]:
s.add(s3, fill_value=0)
a    10.0
b    -5.0
c    5.0
d    7.0
s.sub(s3, fill_value=2)
s.div(s3, fill_value=4)
s.mul(s3, fill_value=3)